

@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins', sans-serif;
    background-image: url(/assets/images/background.png);
    
    background-size: cover;
}
header{
   position: fixed;
   top: 0;
   background-color: rgba(0, 0, 0, 0.859);
}


.nav-link{
    color: white;
}
a:hover, .nav-link:hover{
    color: hsl(0, 2%, 50%);
}


.container img{
    
    box-shadow: rgba(197, 197, 197, 0.4) 0px 30px 90px;
}
.container img:hover{
    scale: 1.05;
}
.text-box p{
    color: black;
}
.text-box{
    background-color: #fff;
    opacity: 70%;
    border-radius: 25px;

    box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
}
img {
    border-radius: 25px;
}
footer {
    
    background-color: rgba(0, 0, 0, 0.505);
    padding: 20px;
}
footer a {
    color: rgb(228, 217, 217);
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
}
footer a:hover{
    color: hsl(0, 2%, 50%);;
}
@media (max-width:390px) {
    .container img {
        width: 60vw;
    }
    .px-5 {
        padding: 0;
    }
    
}

@media (max-width:768px) {
    .text-box{
        margin:20px 5px;
        width: 90vw;
        display: grid;
        place-items: center;
    }
    #logo {
        margin-top: 5%;
    }
   
    #logo img {
        width: 50vw;
    }

}

@media (max-width:991px) {
    .text-box p {
        font-size: 16px;
    }
}