@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";




body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: url(/assets/images/background.png) top;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    background-color: black;
    width:100%;
    z-index: 1;
    opacity: 0.9;
}

main{
    color: white;
    padding:100px 150px 0 200px;
    text-align: justify;
}

p{
    font-size: 18px;
    background-color: white;
    opacity: 0.8;
    backdrop-filter: blur(80%);
    padding:20px;
    color: black;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;

}

.moonlanding {
    margin-top: 50px;
    margin-bottom: 30px;
}


.apollo{
    display: flex;
    padding-right:10px;
}

.apollotext {
    padding-right: 30px;
}

.pics{
    width:40vw;
    height:auto;
    border-radius: 30px;
}

.spaceshuttle {
    display: flex;
}

.spaceshuttletext{
    padding-left:30px;
    padding-top:40px ;
}

.spacheshuttlepic {
    margin-top: 35px;
    border-radius: 30px;
}

.iss {
    display: flex;
}

.isstext{
     padding-right: 30px;
}

.isspics {
    width:50vw;
    // max-height:500px;
    border-radius: 30px;
    margin-top: 50px;
}

@media (max-width:1200px){
    body {
        padding-left:20px;
        padding-right: 20px;
    }
    main {
        padding-left:20px;
        padding-right: 20px;
    }
  .apollo, .spaceshuttle, .iss{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .apollotext, .spaceshuttletext, .isstext {
    padding-right:0;
    padding-left: 0;
}
.isspics, .pics {
    width:70vw;
    // height:auto;
    margin: auto;
    padding-bottom: 20px;
}
.spacheshuttlepic{
    max-width:70vw;
    margin: auto;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}
}

@media (max-width:391px){
    main {
        padding-left:20px;
        padding-right: 20px;
    }
  .apollo, .spaceshuttle, .iss{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .apollotext, .spaceshuttletext, .isstext {
    padding-right:0;
    padding-left: 0;
}
.isspics, .pics {
    width:80vw;;
    // height:390px;
}
.spacheshuttlepic{
    width:90vw;
}
p {
    padding-left: 20px;
    padding-right: 20px;
}

}

footer {
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 0, 0.505);
    padding: 20px;
}
footer a {
    color: rgb(228, 217, 217);
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
}

a:hover  {
    color: hsl(0, 2%, 50%);
}

