

:root {
    --planetSize: 8px;
    --orbitSpeed: 8s;
}







body {
  
    max-width: 98vw;
    
    height: 100%;
   //    indian version!
    // top: 0px;
    // bottom: 0px;
 background: url(/assets/images/background.png)  top;
 background-size: cover;
 display: flex;
 flex-direction: column;
 align-items: center;
}




header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.505);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // border: 1px solid red;
}

.planet, .star {
    background-size: cover;
   
}



.wrapper {
    margin-top: 120px;
    display: flex;
 flex-direction: column;
 align-items: center;
 }

 @keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);

    }
 }
    
    

    
.sun {
    .star {
        width: calc(var(--planetSize) * 22);
        height: calc(var(--planetSize) * 22);
        background: url(/assets/images/sun.png) no-repeat;
        background-size: cover;
        animation: spin 300s infinite linear;
    }
}

.mercury {
    .planet {
        width: calc(var(--planetSize) * 22);
        height: calc(var(--planetSize) * 22);
        background: url(/assets/images/mercury.png);
        background-size: cover;
     }
}

.venus {
    .planet {
        width: calc(var(--planetSize) * 22);
        height: calc(var(--planetSize) * 22);
        background: url(/assets/images/venus.png);
        background-size: cover;
     }
}

.earth {
    .planet {
        width: calc(var(--planetSize) * 22);
        height: calc(var(--planetSize) * 22);
        background: url(/assets/images/earth2.png);
        background-size: cover;
     }
}

.mars {
    .planet {
        width: calc(var(--planetSize) * 22);
        height: calc(var(--planetSize) * 22);
        background: url(/assets/images/mars.png);
        background-size: cover;
     }
}

.jupiter {
    .planet {
        width: calc(var(--planetSize) * 22);
        height: calc(var(--planetSize) * 22);
        background: url(/assets/images/jupiter1.png);
        background-size: cover;
     }
}

.saturn {
    .planet {
        width: calc(var(--planetSize) * 45);
        height: calc(var(--planetSize) * 45);
        background: url(/assets/images/saturn.png);
        background-size: cover;
     }
}

.uranus {
    .planet {
        width: calc(var(--planetSize) * 22);
        height: calc(var(--planetSize) * 22);
        background: url(/assets/images/uranus.png);
        background-size: cover;
     }
}

.neptune {
    .planet {
        width: calc(var(--planetSize) * 22);
        height: calc(var(--planetSize) * 22);
        background: url(/assets/images/neptune.png);
        background-size: cover;
     }
}
    


footer {
    
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 0, 0.505);
   
    padding: 20px;

}
footer a {
    color: rgb(228, 217, 217);
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
   
}

.modal-backdrop {
    z-index: -1;
}

@media (min-width: 576px) {

    .wrapper {
        margin-top: 180px;
     }
        
.sun {
    .star {
        width: calc(var(--planetSize) * 55);
        height: calc(var(--planetSize) * 55);
        
    }
}

.mercury {
    .planet {
        width: calc(var(--planetSize) * 55);
        height: calc(var(--planetSize) * 55);
        
     }
}

.venus {
    .planet {
        width: calc(var(--planetSize) * 55);
        height: calc(var(--planetSize) * 55);
        background: url(/assets/images/venus.png);
        background-size: cover;
     }
}





}



  @media (min-width:1200px) {



    body {
        display: block;
    }

    main {
        
        width: 100%;
        
        padding: 70px 20px 0;
    }

    @keyframes sunSpin {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
    
        }
    }
    
    @keyframes shadow {
        0% {
            background-position: 130% 0%;
        }
    
        33% {
            background-position: 50% 0%;
        }
    
        55% {
            background-position: 0% 0%;
        }
    
        80% {
            background-position: -50% 0%;
        }
    
        100% {
            background-position: -50% 0%;
        }
    }
    
    @keyframes mercuryOrbit {
        0% {
            z-index: 2;
            transform: rotateY(0);
        }
        49% {
            z-index: 2;
        }
        50% {
            z-index: -2;
        }
        99% {
            z-index: -2;
        }
        100% {
            z-index: 2;
            transform: rotateY(360deg);
        }
    }
    
    @keyframes venusOrbit {
        0% {
            z-index: 3;
            transform: rotateY(0);
        }
        49% {
            z-index: 3;
        }
        50% {
            z-index: -3;
        }
        99% {
            z-index: -3;
        }
        100% {
            z-index: 3;
            transform: rotateY(360deg);
        }
    }
    
    @keyframes earthOrbit {
        0% {
            z-index: 4;
            transform: rotateY(0);
        }
        49% {
            z-index: 4;
        }
        50% {
            z-index: -4;
        }
        99% {
            z-index: -4;
        }
        100% {
            z-index: 4;
            transform: rotateY(360deg);
        }
    }
    
    @keyframes moonOrbit{
        0% {
            z-index: 5;
            transform: rotateY(0);
        }
        49% {
            z-index: 5;
        }
        50% {
            z-index: -5;
        }
        99% {
            z-index: -5;
        }
        100% {
            z-index: 5;
            transform: rotateY(360deg);
        }
    }
    
    @keyframes marsOrbit {
        0% {
            z-index: 5;
            transform: rotateY(0);
        }
        49% {
            z-index: 5;
        }
        50% {
            z-index: -5;
        }
        99% {
            z-index: -5;
        }
        100% {
            z-index: 5;
            transform: rotateY(360deg);
        }
    }
    
    @keyframes jupiterOrbit {
        0% {
            z-index: 6;
            transform: rotateY(0);
        }
        49% {
            z-index: 6;
        }
        50% {
            z-index: -6;
        }
        99% {
            z-index: -6;
        }
        100% {
            z-index: 6;
            transform: rotateY(360deg);
        }
    }
    
    @keyframes saturnOrbit {
        0% {
            z-index: 7;
            transform: rotateY(0);
        }
        49% {
            z-index: 7;
        }
        50% {
            z-index: -7;
        }
        99% {
            z-index: -7;
        }
        100% {
            z-index: 7;
            transform: rotateY(360deg);
        }
    }
    
    @keyframes uranusOrbit {
        0% {
            z-index: 7;
            transform: rotateY(0);
        }
        49% {
            z-index: 7;
        }
        50% {
            z-index: -7;
        }
        99% {
            z-index: -7;
        }
        100% {
            z-index: 7;
            transform: rotateY(360deg);
        }
    }
    
    @keyframes neptuneOrbit {
        0% {
            z-index: 8;
            transform: rotateY(0);
        }
        49% {
            z-index: 8;
        }
        50% {
            z-index: -8;
        }
        99% {
            z-index: -8;
        }
        100% {
            z-index: 8;
            transform: rotateY(360deg);
        }
    }
    
    
    
    
    
    
    .wrapper {
        /* border: 1px solid red; */
        position: relative;
        margin: 0 auto;
        display: block;
        margin-top: 200px;
        perspective: 1000px;
        perspective-origin:60% 50%;
        transform: rotate(-10deg);
    
    
    }
    
    /* .earthWrapper {
        border: 1px solid rgb(238, 240, 243);
        position: relative;
        margin: 0 auto;
        display: block;
        perspective: 900px;
        perspective-origin: 60% 50%;
        transform: rotate(-10deg);
    }
    
    .earthWrapper > div {
        position: relative;
        margin: 0 auto;
        transform-style: preserve-3d;
       height: 0px;
    } */
    
    .wrapper > div {
        position: relative;
        margin: 0 auto;
        transform-style: preserve-3d;
       height: 0px;
    }
    
    .sun {
        width: 250px;
        position: absolute;
        top: 0;
        z-index: 1;
        height: 125px !important;

        .star {
            width: 250px;
            height: 250px;
            background: url(/assets/images/sun.png) no-repeat;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            animation: sunSpin 300s infinite linear;
        
        }
    }
    
   
    
    .planet {
        background-size: cover;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        animation-iteration-count: infinite;
        overflow: hidden;
    }
    
    /* .shadow {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
       
        border-radius: 100%;
    } */
    
    
    .mercury {
        position: absolute;
        
        top: -7.5px;
        width: 300px;
        z-index: 2;
        animation: mercuryOrbit calc(var(--orbitSpeed) * 1.2) infinite linear; 

        .planet {
            width: calc(var(--planetSize) * 1.5);
            height: calc(var(--planetSize) * 1.5);
            
            animation: mercuryOrbit calc(var(--orbitSpeed) * 1.2) infinite linear reverse; 
            background-image: url(/assets/images/mercury.png) ;
        
        }
        
    }
    

    .venus {
        position: absolute;
        width: 400px;
        z-index: 3;
        animation: venusOrbit calc(var(--orbitSpeed) * 1.5) infinite linear;
        top: -19px;

        .planet {
            width: calc(var(--planetSize) * 3.72);
            height: calc(var(--planetSize) * 3.72);
            background-image: url(/assets/images/venus.png);
            animation: venusOrbit calc(var(--orbitSpeed) * 1.5) infinite linear reverse;
        }
    }
    
  
    
    .earth {
        position: absolute;
        width: 500px;
        z-index: 4;
        animation: earthOrbit calc(var(--orbitSpeed) * 2) infinite linear;
        top: -20px;

        .planet {
            width: calc(var(--planetSize) * 3.92);
            height: calc(var(--planetSize) * 3.92);
            background-image: url(/assets/images/earth2.png);
            animation: earthOrbit calc(var(--orbitSpeed) * 2) infinite linear reverse;
        }
    }
    
    

    
    /* .moon {
        position: absolute;
        width: 70px;
        z-index: 5;
        animation: moonOrbit calc(var(--orbitSpeed) * 0.5) infinite linear ;
    }
    
    
    .moon .planet {
        width: calc(var(--planetSize) * 1,5);
        height: calc(var(--planetSize) * 1,5);
        background-image: url(/assets/images/moon.png);
    
        animation: animation: moonOrbit calc(var(--orbitSpeed) * 0.5) infinite linear reverse ;
    } */
    
    
    .mars {
        position: absolute;
        width: 600px;
        z-index: 5;
        animation: marsOrbit calc(var(--orbitSpeed) * 3) infinite linear;
        top: -25px;

        .planet {
            width: calc(var(--planetSize) * 2.9);
            height: calc(var(--planetSize) * 2.9);
            background-image: url(/assets/images/mars.png);
            animation: marsOrbit calc(var(--orbitSpeed) * 3) infinite linear reverse;
        
        
        }
    
    }
    

    
    .jupiter {
        position: absolute; 
        width: 700px;
        z-index: 6;
        animation: jupiterOrbit calc(var(--orbitSpeed) * 5) infinite linear;
        top: -50px;

        .planet {
            width: calc(var(--planetSize) * 12);
            height: calc(var(--planetSize) * 12);
            background-image: url(/assets/images/jupiter1.png);
            animation: jupiterOrbit calc(var(--orbitSpeed) * 5) infinite linear reverse;
        }
    }
    
   
    
    .saturn
    {
        position: absolute;
        width: 800px;
        z-index: 7;
        animation: saturnOrbit calc(var(--orbitSpeed) * 8) infinite linear;
        top: -120px;

        .planet {
            width: calc(var(--planetSize) * 30);
            height: calc(var(--planetSize) * 30);
            background-image: url(/assets/images/saturn.png);
            animation: saturnOrbit calc(var(--orbitSpeed) * 8) infinite linear reverse;
        }
    }
    
    
    
    .uranus {
        position: absolute;
        width: 900px;
        z-index: 8;
        animation: uranusOrbit calc(var(--orbitSpeed) * 10) infinite linear;
        top: -25px;

        .planet {
            width: calc(var(--planetSize) * 4.68);
            height: calc(var(--planetSize) * 4.68);
            background-image: url(/assets/images/uranus.png);
            animation: uranusOrbit calc(var(--orbitSpeed) * 10) infinite linear reverse;
        }
    
    }
    
   
    
    .neptune {
        position: absolute;
        width: 1000px;
        z-index: 9;
        animation: neptuneOrbit calc(var(--orbitSpeed) * 15) infinite linear;
        top: -20px;

        .planet {
            width: calc(var(--planetSize) * 4.9 );
            height: calc(var(--planetSize) * 4.9);
            background-image: url(/assets/images/neptune.png);
            animation: neptuneOrbit calc(var(--orbitSpeed) * 15) infinite linear reverse;
        
        }
    }
    

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    
    
    
    
    
    
    
   
    
    
    
    
    .modal {
        position: fixed;
        top: 85%;
        left: 80%;
        transform: translate(-50%, -50%);
        width: 400px;
        max-width: 100%;
        
      }

  }


