@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";



body {

  background: 
  
  url(/assets/images/background.png);
  

  background-size: cover;
  background-attachment: fixed;
  
}
header {
    position: fixed;
    background-color: black;
    width:100%;
    z-index: 1;
    opacity: 0.9;
}

.logo {
  width: 200px;
  position: absolute;
  top: -1.5rem;
  
}
main {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-indent: 1rem;
    font-size: 1.1rem; 
    margin-bottom: 2rem
}


.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
  padding: 0.5rem;
  margin-top:1rem ;
}





.carousel .carousel-inner .carousel-item  img{
  height: auto;
  margin: 0 auto;
}


.d-block {
    animation: rotation 122s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  @media screen and (max-width: 760px) {


  footer {
  
  
    background-color: rgba(0, 0, 0, 0.505);
    padding: 20px;
  
  }
  
  footer a {
    color: rgb(228, 217, 217);
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
  }

  @media screen and (max-width: 1000px) {

    main {
      margin-top: 12rem;
    }
    table {
      font-size: 1.2rem;
    }

    h1, h2 {
      padding-bottom: 2rem;
    }
    .logo {
      display: none;
    }
    .pics {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    }
    .carousel {
    margin-left: auto;
    margin-right: auto;  
    width: 90%;
    }
    body {
      margin: 0 2rem;
    }
  }



  @media screen and (min-width: 760px) {
    main {
      font-size: 1rem;
      padding-top: 4rem;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr 1fr;
    }
    .pics {
      max-width: 80%;   
    }
    .fourth {
      padding: 2.5rem;
      margin-top: 1.2rem;
      
    }
    .text {
      padding: 1rem 2.5rem;
  }
}

h1, h2 {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
 }

/* transparent background? */
 main div p {
   border-radius: 10px;
   padding: 1rem;
   background-color: #fff;
      color: black;
 }

//  footer


 footer {
  
  background-color: rgba(0, 0, 0, 0.505);

  padding: 20px;


}

footer a {
  color: rgb(228, 217, 217);
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}




.fa-brands{
  color: #fff;
  transform: scale(1.1);

}
.fa-brands:hover{
  scale: 1.2;
  box-shadow: rgba(255, 253, 253, 0.4) 0px 30px 90px;
}
.fa-instagram:hover{
  color: #E4405F;
}
.fa-square-github:hover{
  color: #c4c4c4;
}
.fa-linkedin:hover{
  color: #0077B5;
}